body{
    width: 100% !important;
}
*{
    scroll-behavior: smooth !important;
}
button:focus{
    outline: none !important;
}
/* .strike hr {
    -moz-transform: rotate(7.5deg);  
    -o-transform: rotate(7.5deg);  
    -webkit-transform: rotate(7.5deg);  
    -ms-transform: rotate(7.5deg);  
    transform: rotate(7.5deg);  
 } */
.strike{
    text-decoration: line-through solid #ffffff  !important ;
    padding: 0px 5px;
    -webkit-text-decoration-thickness: 1.5px !important;
    -moz-text-decoration-thickness: 1.5px !important;
    -ms-text-decoration-thickness: 1.5px !important;
    -o-text-decoration-thickness: 1.5px !important;
    text-decoration-thickness: 1.5px !important;
    -webkit-text-decoration: line-through solid #ffffff  !important;
    -moz-text-decoration: line-through solid #ffffff !important;
    -o-text-decoration: line-through solid #ffffff  !important;
    -ms-text-decoration: line-through solid #ffffff  !important;
}
html{
    margin: 0px !important;
    width: 100% !important;
    padding: 0px !important;
}
@media(max-width: 768px){

    p ,li , ul{
        font-size: 18px !important;
    }
    .plr-20{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .banner-heading{
        color:#22DA92;
        font-family: 'Josefin sans', sans-serif;
        font-size: 43px !important;
        padding-left: 20px;
    }
    .banner .rm{
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
    .banner p{
        padding-left: 20px;
    }
    .banner-list li{
        padding: 10px 100px 10px 100px !important;
    }
    .banner-btn{
        margin-top: 0px !important;
        margin-bottom: 40px !important;
    }
    .video{
        padding: 0px 10px 0px 10px !important;
        width: 100% !important;
    }
    .video h3{
        padding: 20px 30px;
    }
    .video iframe{
        width: 100% !important;
        height: 300px !important;
    }
    .target img{
        width: 100% !important;
        padding-left: 20px !important;
        padding-right: 10px !important;
        padding-bottom: 10px !important;
    }
    .target h1{
        padding-left: 20px !important;
        padding-right: 10px !important;
    }
    .target p{
        padding-left: 20px !important;
        padding-right: 10px !important;
    }
    .target-btn{
        margin-left: 20px !important;
    }
    .learn-box h1{
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .learn-box p{
        margin: 0px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
    }
    .learn-box ul{
        padding-left: 120px !important;
        padding-right: 50px !important;
    }
    .learn-box h2{
        margin-left: 100px !important;
        margin-top: 30px !important;
        display: inline-block;
    }
    .course-vid .owl-prev {
        /* display: none !important; */
        position: absolute !important;
        top: 43% !important;
        left: -10px !important;
        width: 60px;
        display: inline-block !important;
        height: 60px;
        font-size: 43px !important;
        line-height: 65px !important;
        border-radius: 50% !important;
        color: #b9b9b5 !important;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
    } 
    .course-vid .owl-prev:hover {
        color: #111111 !important;
        background: none !important;
    }      
    .course-vid .owl-next {
        /* display: none !important; */
        position: absolute;
        display: inline-block !important;
        top: 43%;
        right: -10px !important;
        width: 60px;
        height: 60px;
        font-size: 43px !important;
        line-height: 65px !important;
        border-radius: 50% !important;
        color: #b9b9b5 !important;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
    }
    .course-vid .owl-next:hover {
        color: #111111 !important;
        background: none !important;
    }
    .owl-prev {
        display: none !important;
        /* position: absolute !important;
        top: 43% !important;
        left: -10px !important;
        width: 60px;
        height: 60px;
        font-size: 45px !important;
        line-height: 65px !important;
        border-radius: 50% !important;
        color: #b9b9b5 !important;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease; */
    } 
    .owl-prev:hover {
        color: #111111 !important;
        background: none !important;
    } 
    .owl-next {
        display: none !important;
        /* position: absolute;
        top: 43%;
        right: -10px !important;
        width: 60px;
        height: 60px;
        font-size: 45px !important;
        line-height: 65px !important;
        border-radius: 50% !important;
        color: #b9b9b5 !important;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease; */
    }
    .owl-next:hover {
        color: #111111 !important;
        background: none !important;
    }
    .why-us .why-us-logo{
        margin-left: 20px !important;
    }
    .why-us h3{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .why-us p{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .review-content{
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 0% !important;
    }
    footer{
        padding-left: 20px !important;
    }
    /* footer p{
        margin-left: 20px !important;
    } */
    .footer-links{
        display: block !important;
        margin-left: 0% !important;
    }
    .footer-links a{
        padding-left: 0px !important;
        padding-right: 20px;
    }
}
body, html{
    /* background-color: #1C2024; */
    font-family: 'Josefin Sans', sans-serif !important;
}
html{
    overflow-x: hidden !important;
}
button a{
    color: #1C2024;
}
.row{
    margin-right: 0px !important;
}
.ptb-100{
    padding-top: 50px;
    padding-bottom: 50px;
}
.navbar{
    background-color: #1C2024; 
}
.container{
    padding: 0 !important;
}
/* Navbar */
.navbar{
    border-bottom: #5ac7db 1px solid;
}
.mean-menu{
    margin-left: auto !important;
}
.navbar-nav{
    margin-left: auto !important;
    flex-direction: row !important;
}
.navbar-nav .nav-item a{
    color: #5ac7db;
    font-size: 20px !important;
    margin: 0px 15px;
    padding-bottom: 0px !important;
}
/* Banner */
.banner{
    background: #1C2024;
    color: #ffffff;
}
.catch-list{
    list-style: bullets;
    text-align: left;
}
.catch-list li {
    color: #ffffff;
    font-size: 20px;
}
.by-line{
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
}
.banner-heading{
    color: #22DA92;
    font-family: Josefin Sans;
    font-size: 43px;
}
p{
    font-size: 22px;
}
.banner-box{
    background-color: #2C3239;
    /* margin: 0px 50px 50px 50px; */
}
.banner-list{
    list-style: none;
    padding: 50px 0px 50px 0px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 19px;
}
.banner-list li{
    text-align: left;
    padding: 10px 100px 10px 100px;
}
.banner-btn{
    background-color: #22DA92;
    color: #1C2024;
    font-family: 'Josefin Sans';
    font-size: 22px;
    text-align: center;
    width: 80%;
    margin: 0px 50px 20px 50px;
    padding: 15px;
    outline: none;
    border: none;
}
.banner-btn a{
    width: 100%;
    height: 100%;
}
.banner-btn a:hover{
    color: inherit !important;
    text-decoration: none !important;
}
.terms{
    font-size: 16px;
}
/* Video */
.video {
    padding: 0px 50px 0px 50px;
    background: #1C2024;
}
.video h3{
    color: #ffffff;
    font-weight: 700px;
    padding: 20px 50px;
    text-align: left;
}
.video iframe{
    height: 400px;
    padding-top: 100px;
}
/* Target */
.target{
    background: #1C2024; 
}
.target img{
    padding: 50px;
}
.target h1{
    color:#22DA92;
    font-size:43px;
    padding-top: 50px;
}
.target p{
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 22px;
}
.target-btn{
    background-color: #22DA92;
    border: none;
    color: #1C2024;
    font-size: 20px;
    text-align: center;
    padding: 15px 50px 15px 50px;
}
.target-btn a:hover{
    color: inherit !important;
    text-decoration: none !important;
}
/* Learn */
.learn{
    background-color: #2C3239;
}
/* .learn-box{
    background-color: #2C3239 !important;
    padding: 50px 20px 50px 20px;
} */
.learn-box h1{
    text-align: center;
    font-size: 43px;
    color: #22DA92;
    padding-bottom: 10px;
}
.learn-box p{
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 22px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding-bottom: 50px;
}
.learn-box ul{
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 22px;
    padding-left: 60px;
}
.learn-box h2{
    margin-left: 40px;
    color:#FFFFFF;
    font-size: 38px;
    margin-bottom: 50px;
    display: inline-block;
    border-bottom: #22DA92 solid 2px;
}
.learn-btn{
    background-color: #22DA92;
    border: none;
    color: #1C2024;
    font-size: 20px;
    text-align: center;
    padding: 15px 70px 15px 70px;
}
.learn-btn a:hover{
    color: inherit !important;
    text-decoration: none !important;
}
.owl-prev {
    position: absolute;
    top: 43%;
    left: -50px;
    width: 60px;
    height: 60px;
    font-size: 43px !important;
    line-height: 65px !important;
    border-radius: 50% !important;
    color: #b9b9b5 !important;
    /* background-color: #111111 !important; */
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  
  .owl-prev:hover {
    color: #111111 !important;
    outline: none !important;
  }
  
  .owl-next {
    position: absolute;
    top: 43%;
    right: -50px;
    width: 60px;
    height: 60px;
    font-size: 43px !important;
    line-height: 65px !important;
    border-radius: 50% !important;
    color: #b9b9b5 !important;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  
  .owl-next:hover {
    color: #111111 !important;
    outline: none !important;
  }
.btn-area{
    text-align: center;
    padding: 100px 0px 50px 0px
}
/* Why US */
.why-us h4{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
}
.why-us{
    background-color: #1C2024;
    color: #ffffff;
}
.why-us .title-row{
    border-bottom: 2px solid #22DA92 !important;
}
.why-us .title-row2{
    margin-top: 150px;
}
.why-us .why-us-logo{
    width: fit-content;
    border-radius: 100%;
    background: #2C3239;
    padding: 15px;
    margin-top: 50px;
}
.why-us h3{
    padding-top: 20px;
    color: #22DA92;
    font-size: 30px !important;
}
.why-us p{
    font-size: 18px !important;
    font-family: 'Open Sans', sans-serif !important;
}
.why-us .nav-tabs a{
    color: #ffffff;
}
.nav-tabs .nav-link{
    border: none !important;
}
.why-us .nav-tabs{
    border-bottom: #22DA92 1px solid;
}
.nav-link.active{
    background-color: transparent !important;
    color: #ffffff !important;
    border-bottom: #22DA92 solid 2px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
.why-us-btn{
    background-color: #22DA92;
    border: none;
    color: #1C2024;
    font-size: 20px;
    text-align: center;
    padding: 15px 50px 15px 50px;
}
.why-us-btn a:hover{
    color: inherit !important;
    text-decoration: none !important;
}
/* World */
.world{
    background-color: #1C2024;
    color: #ffffff;
}
.world h1{
    text-align: center;
    font-size: 43px;
    color: #22DA92;
    padding-bottom: 30px;
}
.world p{
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 22px;
    text-align: center;
    padding-bottom: 100px;
}
/* Review  */
.review{
    background-color: #1C2024;
    color: #ffffff;
}
.review h1{
    text-align: center;
    font-size: 43px;
    color: #22DA92;
    padding-bottom: 30px;
}
.review p{
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 22px;
    text-align: center;
    padding-bottom: 100px;
}
.review-img{
    text-align: center !important;
    padding: 20px 0px;
}
.review-img img{
    width: 300px !important;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 300px !important;
}
.review-content{
    font-size: 22px;
    padding: 20px;
    text-align: left !important;
}
/* Footer */
footer {
    background: #1C2024;
    border-top: #22DA92 1px solid !important;
    color: #ffffff;
    padding: 20px 0px;
}
footer p{
    display: inline;
}
footer .footer-links{
    display: inline;
    margin-left: 150px;
}
.footer-links a, footer a{
    color: #5ac7db !important;
    padding: 0px 10px;
}
.footer-links a:hover, footer a:hover{
    color: inherit !important;
}